{% extends 'electronics/index.html'%}
{% block content %}

<div class="card" style="margin-left:100px; min-height:100vh;" >
                  <div class="card-body">
                    <center><br><br>

                    </center><br><br>
                      <div class="table-responsive">
                          <center> <h2 class="card-title">Return Approved</h2></center><br>
                      <table class="table">

                        <thead>
                          <tr>
                              <th><h5>No.</h5></th>
                              <th><h5>Customer</h5></th>
                              <th><h5>Item</h5></th>
                              <th><h5>quantity</h5></th>
                              <th><h5>Ordered date</h5></th>
                              <th><h5>return_date</h5></th>
                              <th><h5>Complaint</h5></th>
                              <th><h5>status</h5></th>
                              <th><h5></h5></th>
                          </tr>
                        </thead>
                        {% for i in data %}
                        <tbody>
                          <tr>
                              <td><h5>{{ forloop.counter }}</h5></td>
                              <td><h5>{{i.15}}</h5></td>
                              <td><h5>{{i.10}}</h5></td>
                              <td><h5>{{i.3}}</h5></td>
                              <td><h5>{{i.21}}</h5></td>
                              <td><h5>{{i.5}}</h5></td>
                              <td><h5>{{i.4}}</h5></td>
                              <td><h5>{{i.6}}</h5></td>
                              <td><a href="../collect_return/{{i.0}}"><div class="badge badge-outline-warning">ship item</div></a></td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
</div>

{% endblock %}