{% extends 'electronics/index.html'%}
{% block content %}

<div class="card" style="margin-left:100px; min-height:100vh;" >
                  <div class="card-body">
                    <center><br><br>

                    </center><br><br>
                      <div class="table-responsive">
                          <center> <h2 class="card-title">shipped Orders </h2></center><br>
                      <table class="table">

                        <thead>
                          <tr>
                              <th><h5>No.</h5></th>
                              <th><h5>Customer id</h5></th>
                              <th><h5>Customer</h5></th>
                              <th><h5>Order date</h5></th>
                              <th><h5>Total Amount</h5></th>
                              <th><h5>Location</h5></th>
                              <th><h5></h5></th>
                          </tr>
                        </thead>
                        {% for i in data %}
                        <tbody>
                          <tr>
                              <td><h5>{{ forloop.counter }}</h5></td>
                              <td><h5>{{i.1}}</h5></td>
                              <td><h5>{{i.7}}</h5></td>
                              <td><h5>{{i.2}}</h5></td>
                              <td><h5>{{i.3}}</h5></td>
                              <td><h5>{{i.4}}</h5></td>
                              <td><a href="../view_orders/{{i.0}}"><div class="badge badge-outline-warning">view orders</div></a></td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
</div>

{% endblock %}